SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
ETHERSCAN_API_KEY=
AUTHOR_REGISTRY_ADDRESS=
REWARD_TOKEN_ADDRESS=
PINATA_API_KEY=
PINATA_SECRET_API_KEY=

# Optional: if you want to use a custom Pinata gateway or local fallback
# PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs
